body {
  display: flex;
  flex-direction: column;
}

#epoch-container {
  flex-grow: 1;
  min-height: 100px;
  display: flex;
  align-items: center;
}

#epoch-container span {
  width: 100%;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}

#button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#grid-cotainer {
  flex-grow: 2; 
  width: 100%;
}

#grid {
  width: 80%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(1px, 1fr));
  gap: 20px;
  font-size: 25px;
}

@media screen and (max-width: 920px) {
  #grid {
    grid-template-columns: repeat(2, minmax(1px, 1fr));
  }
}

.timezone-container {
  height: 100%;
  width: 100%;
  position: relative; 
}

.timezone-container .time {
  height: 100%;
  width: 100%;
  background: none;
  color: white;
  font-size: 60px;
  text-align: center;
  border: none;
}

.timezone-container .zone {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 70%;
}