


.button {
  cursor: pointer;
  width: fit-content;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--text-color);
  padding: 8px 6px;
  background: none;
  color: var(--text-color);
  font-size: 10pt;
}

.button:hover {
    background: rgba(255,255,255, 0.1);
}

/* sizes */

.button.lg {
  font-size: 15pt;
}